ion-icon {
    font-size: 16px;
    color: #58a89d;
}

ion-grid {
    background: white;
}

ion-item-group {
    ion-item {
        height: 24px;

        .delivery-address-header-label {
            font-size: 14px;
            margin-top: -12px;
            margin-left: 8px;
        }
    }

    ion-label {
        font-size: 14px;
        margin-top: -16px;
    }

    ion-icon {
        margin-top: -26px;
    }

    .delivery-item {
        ion-label {
            font-size: 14px;
            margin-left: 24px;
        }
    }
}

.product-detail-grid {
    .product-detail-row {
        width: 103%;
        margin-left: -6px;

        .product-detail-quantity-text {
            font-size: 14px;
            color: var(--ion-color-medium);
        }
    }
}

.payment-grid {
    .payment-row {
        ion-label {
            color: var(--ion-color-medium);
            font-size: 12px;
        }
    }
}

ion-footer {
    ion-button {
        width: 35%;
        text-transform: none;
        color: white;
        --background: #58a89d;
        bottom: 0;
        height: 50px;
        --box-shadow: none;
    }
}