ion-searchbar {
    --background: #F0F0F0 !important;
    --box-shadow: none !important;
}

ion-grid {
    margin-top: 10px;
    background: white;
}

.slide-product-card {
    box-shadow: none;
    border: 1px solid #F0F0F0;
    text-align: left;

    ion-card-header {
        background: #F0F0F0;

        ion-card-title {
            font-size: 14px;
        }

    }

    ion-card-content {
        background: #F0F0F0;
        font-size: 14px;
    }
}