ion-searchbar {
    --background: #F0F0F0 !important;
    --box-shadow: none !important;
}

ion-button {
    overflow: visible;

    ion-icon {
        color: $na-green;
        margin-top: 10px;
    }
}

ion-badge {
    position: absolute;
    bottom: 14px;
    left: 6px;
    font-size: 10px;
    font-weight: lighter;
    background: $na-green;
}

ion-grid {
    margin-top: 10px;
    background: white;
}

.top-product-card {
    box-shadow: none;
    border: 1px solid #F0F0F0;
    text-align: left;

    ion-card-header {
        background: #F0F0F0;

        ion-card-title {
            font-size: 14px;
        }

    }

    ion-card-content {
        background: #F0F0F0;
        font-size: 14px;
    }
}

.see-more-slide {
    color: $na-green;

    .see-more-label {
        --color: #58a89d;
        font-size: 20px;
    }

    ion-icon {
        font-size: 45px;
    }
}