ion-toolbar {
    --background: #58a89d;
}

.login-button {
    background: white;
    --color: #58a89d;
}

.sign-up-button {
    border: 1px solid white;
    --color: white;
}

.sign-up-button,
.login-button {
    height: 35px;
    width: 70px;
    text-transform: none;
    margin-left: 8px;
}

ion-avatar {
    text-align: center;
    background: white;
    width: 50px;
    height: 50px;
    margin-left: 10px;

    ion-icon {
        margin-top: 10px;
        font-size: 30px;
        color: $na-green;
    }
}