ion-toolbar {
    --background: #58a89d;
}

.login-button {
    background: white;
    --color: #58a89d;
}

.sign-up-button {
    border: 1px solid white;
    --color: white;
}

.sign-up-button,
.login-button {
    height: 35px;
    width: 70px;
    text-transform: none;
    margin-left: 8px;
}

.user-detail-row {
    color: white;

    ion-col {
        padding: 0;

        ion-chip {
            height: 18px;
            font-size: 12px;
            --background: white;
            --color: #58a89d;
        }

        .user-name-label {
            font-size: 20px;
        }

        ion-label {
            font-size: 12px;
        }
    }
}

ion-avatar {
    text-align: center;
    background: white;
    width: 50px;
    height: 50px;
    margin-left: 16px;
    margin-right: 16px;

    ion-icon {
        margin-top: 10px;
        font-size: 30px;
        color: $na-green;
    }
}

ion-list {
    margin-top: 10px;

    ion-item {
        font-size: 14px;

        ion-icon {
            font-size: 22px;
        }
    }
}

ion-col {
    font-size: 12px;
    margin-top: 16px;
    padding-bottom: 16px;

    ion-button {
        text-align: center;
    }

    ion-icon {
        font-size: 28px;
    }
}

.notification-order-badge {
    position: absolute;
    bottom: 20px;
    left: 14px;
    font-size: 10px;
    font-weight: lighter;
    background: red;
    opacity: .8;
    color: white;
}