ion-list {
    margin: auto;

    ion-item {
        ion-icon {
            font-size: 20px;
        }
    }

    .login-active-button {
        width: 100%;
        margin-top: 16px;
        --background: #58a89d;
        --box-shadow: none;
    }

    ion-button {
        text-transform: none;
        --box-shadow: none;
    }

    .error-message-item {
        margin: auto;
        margin-top: 30px;
        width: 93%;
        --background: rgba(var(--ion-color-danger-rgb), .5);
        --color: rgb(0, 0, 0, .8);

        ion-button {
            --color: rgb(0, 0, 0, .6);
        }
    }
}